:root{
    --primaryBg:#FBFCFC;
    --redAccent: #C03033;
    --primaryText: #2B2A2B;
    --stroke:4px solid #000001;
    --greyAccent:#628082;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue";
    text-transform: uppercase;
    transition: all 200ms ease-in;
    color: var(--primaryText);
}
.font2{
  font-family: Staatliches;
}
header{
  display: flex;
width: 100%;
padding: 24px 100px;
justify-content: center;
align-items: center;
background: var(--redAccent);
position: fixed;
z-index: 9999;
}
nav ul{
  gap: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  color: var(--primaryBg);
  font-family: Staatliches;
  font-size: 24px;
}
a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
li{
  list-style-type: none;
}
body {
  background: var(--primaryBg);
  height: 3000px;
}
