:root{
    --primaryBg:#FBFCFC;
    --redAccent: #C03033;
    --primaryText: #2B2A2B;
    --stroke:4px solid #000001;
    --greyAccent:#628082;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue";
    text-transform: uppercase;
    transition: all 200ms ease-in;
    color: var(--primaryText);
}
.font2{
  font-family: Staatliches;
}
header{
  display: flex;
width: 100%;
padding: 24px 100px;
justify-content: center;
align-items: center;
background: var(--redAccent);
position: fixed;
z-index: 9999;
}
nav ul{
  gap: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  color: var(--primaryBg);
  font-family: Staatliches;
  font-size: 24px;
}
a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
li{
  list-style-type: none;
}
body {
  background: var(--primaryBg);
  height: 3000px;
}
.fadedClick {
  opacity: 0.3;
}
.container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--primaryBg);
  overflow: auto;
}
.coverimg{
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 0;
  /* margin-bottom: 1000px; */
  top: 0;
}
.logo{
  width: 150px;
  height: 55px;
  margin-left: 32px;
}
.sticky{
  width: 100%;
  position: sticky;
  top: 0;  
}
h1{
   font-size: 92px;
   margin: 20px 0;
   font-weight: 300;
   font-style: italic;
}
.flexColumn{
  flex-direction: column;
}
.logo2{
  width: 568px;
  height: auto;
  margin-top: 300px;
}
.citybg{
  background: none;
  background-image: url(public/images/logobg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 450px;
  width: 100%;
  max-width: 1727px;
}